Example/Example.wsdl

<?xml version="1.0" ?>
<definitions name="127.0.0.1" targetNamespace="urn:127.0.0.1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:127.0.0.1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types xmlns="http://schemas.xmlsoap.org/wsdl/" />
<portType name="127.0.0.1Port"><operation name="sayHello">
<input message="tns:sayHelloRequest" />
<output message="tns:sayHelloResponse" />
</operation>
<operation name="add">
<input message="tns:addRequest" />
<output message="tns:addResponse" />
</operation>
</portType>
<binding name="127.0.0.1Binding" type="tns:127.0.0.1Port">
<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
<operation name="sayHello">
<soap:operation soapAction="urn:127.0.0.1#Example#sayHello" />
<input><soap:body use="encoded" namespace="urn:127.0.0.1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</input>
<output>
<soap:body use="encoded" namespace="urn:127.0.0.1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</output>
</operation>
<operation name="add">
<soap:operation soapAction="urn:127.0.0.1#Example#add" />
<input><soap:body use="encoded" namespace="urn:127.0.0.1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</input>
<output>
<soap:body use="encoded" namespace="urn:127.0.0.1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</output>
</operation>
</binding>
<service name="127.0.0.1">
<documentation />
<port name="127.0.0.1Port" binding="tns:127.0.0.1Binding"><soap:address location="http://localhost:80/soap/Example/soap_sevr.php" />
</port>
</service>
<message name="sayHelloRequest">
<part name="world" type="xsd:string" />
</message>
<message name="sayHelloResponse">
<part name="sayHello" type="xsd:string" />
</message>
<message name="addRequest">
<part name="a" type="xsd:string" />
<part name="b" type="xsd:string" />
</message>
<message name="addResponse">
<part name="add" type="xsd:string" />
</message>
</definitions>